{:canonical-format :edn
 :canonical-path "lex"
 :generated-path "lexicons"
 :imported-from {:repository "etzhayyim/root" :revision "cb3ef46685611e7aa80700d3ef2d427faa750ddf^"}
 :generator {:repository "etzhayyim/com-etzhayyim-lexicons-bundle"
             :revision "c78dfb9764c952b770d47553cd110768d6f7c336"
             :script "scripts/project-edn-lexicons.clj"}}
